.card {
  height: 100%;
}

.cardText {
  height: 25px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.objectFitContainer {
  height: 200px;
}

.objectFitContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cardBody {
  height: 80%;
}