.searchSection{
  display: flex;
  align-items: center;
  height: 150px;
  background-color: var(--logo-white);
}

.logo {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .logo {
    width: 150px;
    margin-right: 10px;
  }
}
